
*{
    box-sizing: border-box;
}


.fondo-gris{
    background-color: #ebebeb;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}


.img-banner{
    width: 100vw;
    height: 30vh;
    margin-bottom: 20px;
}

main {
    background-color: #ebebeb; 
    text-align: center;
   /* width:90vw;
    height: 90vh;
    
    font-family: 'Roboto', sans-serif;
   /*display: flex;
   flex-direction: column;
   align-content: center;
   */
}
.main-header {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    /*
    display:flex;
    flex-wrap: wrap;
    */
}

.copy-header{
    text-align: center;
    font-weight: 400;
}

.hamburguer-button{
    background-color:#03264C; 
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;

}
.main-navbar{
    display:none;
}
.product-data ul{
    list-style: none;
    margin:0;
    padding: 0;
}
.main-navbar ul{
    list-style: none;
    margin:0;
    padding: 0;

}
.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.img-liebre{
    width:200px;
    
}

.img-producto{
    border-bottom: solid #ebebeb 1px;
    width: 100px;
    height: 100px;
     
}

.buscador{
    margin-left: 1em;
    display:flex;
    
}


.size{
    width:70%;
    align-content: center;
}

.cuerpo-titulo{
    font-size: 0.75em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
.cuerpo{
    font-size: 0.75em;
    
    font-family: 'Roboto', sans-serif;
    
}

.compra-cuotas{
    text-align: center;
    margin-top: 1em;
    margin-bottom:1em;
}

.precios{
    font-size: 1.125em;
}

.center{
    align-items: center ;
    justify-content: center;
}

.descuentos{
    font-size: 1.2em;
    color: #39b54a;
}



.titulares{
    font-size: 1.5em;
    color:#666;
    text-align: left; 
    margin-left: 45px;
}

main div i {
display: block;
 font-size: 16px;
 padding: 5px;
 width: 30px;
 height: 30px;
 border: 1px solid #39b54a;
 background-color: #FFF;
 border-radius: 50%;
 color: #39b54a;
 right: 20px;
 top: -15px;
/*
position: absolute;
*/
;

}


footer{
    text-align: center;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 4em;
}


footer h2{
    color:#666; 
}

footer p{
    color:#0808088c; 
}


.logo-footer{
    color:#1259c3;
    margin-bottom:10px;
    font-size: 2em;
}

.p-footer{
    margin-bottom:3em;
    font-size: 1rem;
}

@media  only screen and (max-width:362px) {
    
   
   
    .descripcion{
                display:none ;
    }

    .img-liebre{
        width:50vw;
        max-width: 130px;
    }

    #buscador{
        width:150px;
        border: none;
        border-radius: 8px;
        margin: 0 !important;
    }

    .buscador-btn{
        background-color: white;
        color: grey;
        border: none;
        border-radius: 8px;
        margin: 0 !important;
    }

    .copy-header{
        font-size: 13px;
        margin: 20px;
    }
    .img-banner{
        width: 100vw;
        height: 10vh;
    }
    .img-producto{
        width: 200px;
        height: 200px;
        
        
    }

    .product-card{
        background-color: white;
        margin:13px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .p-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap; 
    }
    .product-data{
        display: flex;
        flex-direction: column;

    }
    .logo-envio{
        align-self: flex-end;
        margin-right:20px;
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: 0px 0px 10px rgba(104, 212, 162, 0.507);
        
    }
    .precio-descuento{
        display: inline;
        text-align: left;
        
    }
    

    .precios{
        font-size: 15px;
        font-weight: bold;
        display: inline;
        margin: 20px;
    }
    .descuentos{
        font-size: 13px;
        font-weight: bold;
        display: inline;
        margin: 20px;
    }

/*------------Estilos Login y Register----------------*/
    
    .control-formulario .nombre1{
        width: 100%;
        padding: 8px;
        border-radius: 8px;
        border: none;
        font-size: 13px;
        color:#0808088c;
    }

    .control-formulario .boton-up-file{
        display: none;
    }
    .control-formulario .boton-up-file-fake{
        background-color:#1259c3 ;
        border-radius: 8px;
        color: white;
        padding: 5px 10px;
    }
    .control-formulario .interes{
          
        display:block;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        width: 50%;
        margin-left: 25%;
        border-radius: 8px;
        text-align: left;
        color:#666;
    }
    .create-form .boton-formulario{
        background-color:#1259c3; ;
        border: none;
        font-size: 15px;
        color:#ffffff;
        padding: 5px 10px;
        border-radius: 8px;
        width: 100%;
        margin: 0px 0px 10px 0px;
    }

    .compra-venta{
        color: #666;
    }

    .titulo-formulario{
        font-size: 14px;
        color:#666;
    }
    /*---------------------Footer--------------------------*/


    footer{
        text-align: center;
        background-color: white;
        font-family: 'Roboto', sans-serif;
        margin-top: 1em;
    }
    
    
    footer h2{
        color:#666;
        font-size: 15px; 
    }
    
    footer p{
        color:#0808088c;
        
    }
    
    
    .logo-footer{
        color:#1259c3;
        margin-bottom:10px;
        font-size: 1em;
    }
    
    .p-footer{
        margin-bottom:3em;
        font-size: 13px; 
    }

    .copyright{
        font-size: 13px;
        color:#0808088c;

    }
    
    
}


@media  (min-width:362px) and (max-width:768px){
   
    main{
        width: 100%;
    }

    .p-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap; 
    }

    .img-producto{
        width: 250px;
        height: 250px;
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    }

    .titulares{
        margin-left: 80px;
    } 

    .copy-header{
        margin: 0;
        max-width: none;
        text-align: right;
        font-size: 10px;
        
    }

    .hamburguer-button{
        display:none
    }

    .main-navbar{
        display: flex;
        justify-content:space-between;
        margin-top: 40px !important;
       
        
    }

    .main-navbar ul{
        display: flex;
        }

    .main-navbar a{
        font-size: 10px;
    }

    .main-navbar li{
        margin: 0 3px;
        
    }
    .descripcion{
                display:contents;
                font-size: 13px;
                text-align: left;
                font-weight: bold;
                color:#0808088c; 

    }
   

    .p-container{
        display: flex;
        justify-content: space-evenly;
        

    }

    .buscador-btn{
        background-color: rgb(233, 237, 241);
        border: none;
        border-radius: 8px;
        color: grey;
    }

    #buscador{
        font-size: 13px;
        border: none;
        border-radius: 8px;
    }
    .main-header-top-bar{
        align-items: center;
        
        display: flex;
        justify-content: space-evenly;
        
    }
    .main-header-top-bar, .main-navbar{
        max-width: 768px;
        margin:auto;
        height: 3vh;
    }
    .product-card{
        box-shadow: 0px 0px 10px rgb(100, 100, 100); 
        background-color: white;
        margin: 10px; 
    }

    .img-banner{
        width: 100vw;
        height: 20vh;
        margin-bottom: 20px;
    }

    .product-data{
        display: flex;
        flex-direction: column;

    }

    
    .logo-envio{
        align-self: flex-end;
        margin-right:20px;
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: 0px 0px 10px rgba(104, 212, 162, 0.507);
        
        text-align: center;
        
    }
    .precio-descuento{
        display: inline;
        text-align: left;

        
    }
    

    .precios{
        font-size: 15px;
        display: inline;
        margin: 20px;
        font-weight: bold;
    }
    .descuentos{
        font-size: 13px;
        font-weight: bold;
        display: inline;
        margin: 20px;
        font-weight: bold;
    }
    /*------------Estilos Login y Register----------------*/
    
    .control-formulario .nombre1{
        width: 100%;
        padding: 8px;
        border-radius: 8px;
        border: none;
        font-size: 13px;
        color:#0808088c;
    }

    .control-formulario .boton-up-file{
        display: none;
    }
    .control-formulario .boton-up-file-fake{
        background-color:#1259c3 ;
        border-radius: 8px;
        color: white;
        padding: 5px 10px;
        width: 200px;
        vertical-align: middle;
    }
    .flex{
        display: flex;
        justify-content: center;
    }
    .control-formulario .interes{
          
        display:block;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        width: 50%;
        margin-left: 25%;
        border-radius: 8px;
        text-align: left;
        color:#666;
    }
    .create-form .boton-formulario{
        background-color:#1259c3; ;
        border: none;
        font-size: 15px;
        color:#ffffff;
        padding: 5px 10px;
        border-radius: 8px;
        width: 70%;
        margin: 0px 0px 10px 0px;
    }

    .compra-venta{
        color: #666;
    }

    .titulo-formulario{
        font-size: 14px;
        color:#666;
    }
    /*---------------------Footer--------------------------*/


    footer{
        text-align: center;
        background-color: white;
        font-family: 'Roboto', sans-serif;
        margin-top: 1em;
    }
    
    
    footer h2{
        color:#666;
        font-size: 15px; 
    }
    
    footer p{
        color:#0808088c;
        
    }
    
    
    .logo-footer{
        color:#1259c3;
        margin-bottom:10px;
        font-size: 1em;
    }
    
    .p-footer{
        margin-bottom:3em;
        font-size: 13px; 
    }

    .copyright{
        font-size: 13px;
        color:#0808088c;

    }
}

@media (min-width: 769px) {

    
    .main-navbar ul li a{
        font-size: 15px;
    }
    .hamburguer-button{
        display:none
    }

    .main-navbar{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    .main-navbar ul{
        display: flex;
        font-size: 13px;
    }

    .main-navbar li{
        margin: 0 5px;
        
    }
    .descripcion{
                display:contents;
                font-weight: bold;
                color: #0808088c;
                font-size: 13px;
    }
    .p-container{
        display: flex;
        justify-content: space-evenly;
        
    }
    .main-header-top-bar{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
    .product-card{
        box-shadow: 0px 0px 10px rgb(100, 100, 100); 
        background-color: white; 
        margin: 15px; 
    }
    .product-data{
        display: flex;
        flex-direction: column;
        

    }
    .logo-envio{
        align-self: flex-end;
        margin-right:20px;
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: 0px 0px 10px rgba(104, 212, 162, 0.507);
        
    }
    .precio-descuento{
        display: inline;
        text-align: left;
        
    }
    

    .precios{
        font-size: 15px;
        display: inline;
        margin: 20px;
        font-weight: bold;
    }
    .descuentos{
        font-size: 13px;
        font-weight: bold;
        display: inline;
        margin: 20px;
        font-weight: bold;
    }
    #buscador{
        width:300px;
        margin: 0 !important;
        border: none;
        border-radius: 8px;
    }
    .buscador-btn{
     
     background-color: white;
         color: grey;
         border: none;
         border-radius: 8px;
 
 }
 .copy-header{
    margin: 0;
    max-width: none;
    text-align: right;
    font-size: 15px;
}
.img-producto{
    width: 250px;
    height: 250px;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}


 /*------------Estilos Login y Register----------------*/
    
 .control-formulario .nombre1{
    width: 70%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 13px;
    color:#0808088c;
}

.flex{
    display: flex;
    justify-content: center;
}
.control-formulario .boton-up-file{
    display: none;
}
.control-formulario .boton-up-file-fake{
    background-color:#1259c3 ;
    border-radius: 8px;
    color: white;
    padding: 5px 10px;
    width: 50%;
    vertical-align: middle;
}
.control-formulario .interes{
      
    display:block;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    width: 50%;
    margin-left: 25%;
    border-radius: 8px;
    text-align: left;
    color:#666;
}
.create-form .boton-formulario{
    background-color:#1259c3; ;
    border: none;
    font-size: 15px;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 8px;
    width: 70%;
    margin: 0px 0px 10px 0px;
}

.compra-venta{
    color: #666;
}

.titulo-formulario{
    font-size: 14px;
    color:#666;
}
/*---------------------Footer--------------------------*/


footer{
    text-align: center;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
}


footer h2{
    color:#666;
    font-size: 15px; 
}

footer p{
    color:#0808088c;
    
}


.logo-footer{
    color:#1259c3;
    margin-bottom:10px;
    font-size: 1em;
}

.p-footer{
    margin-bottom:3em;
    font-size: 13px; 
}

.copyright{
    font-size: 13px;
    color:#0808088c;

}

}

@media  (min-width:1200px) {
    
    .copy-header{
        margin: 0;
        max-width: none;
        text-align: right;
        font-size: 15px;
    }
    
    .img-banner{
        height: 20vh;
    }

   .img-liebre{
        width: 250px;
   } 
   #buscador{
       width:300px;
       margin: 0 !important;
       border: none;
       border-radius: 8px;
   }
   .buscador-btn{
    
    background-color: white;
        color: grey;
        border: none;
        border-radius: 8px;

}

    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin:auto;
        height: 4vh;
    }
    .main-header-top-bar{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
    .main-navbar{
        margin-top: 40px;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
    

    .p-container{
        display: flex;
        justify-content: center;
        
    }

    .img-producto{
        width: 200px;
        height: 200px;
    }
    .product-card{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        background-color: white; 
        margin: 20px; 
    }
    .product-data{
        display: flex;
        flex-direction: column;

    }
    .logo-envio{
        align-self: flex-end;
        margin-right:20px;
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: 0px 0px 10px rgba(104, 212, 162, 0.507);
        
    }
    .precio-descuento{
        display: inline;
        text-align: left;
        
    }
    
    .titulares{
        margin-left: 120px;
    }
    .precios{
        font-size: 15px;
        display: inline;
        margin: 20px;
    }
    .descuentos{
        font-size: 13px;
        font-weight: bold;
        display: inline;
        margin: 20px;
    }
}


/*-------------------------Estilos Formulario Login y Register------------------------------*/

.create-form{
    padding: 20px 15px;
}

.control-formulario{
    margin-bottom: 15px;
}

.control-formulario label{
    margin-bottom: 5px;
    font-style:'Roboto';
    display: block;
}

.control{
    width: 30%;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

.boton-formulario{
    background-color:#1259c3; ;
    border: none;
    font-size: 20px;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 8px;
    width: 100px;
    margin: 20px;
}

input:invalid{
        background-color: rgba(192, 46, 71, 0.555);
      }
      

input{
          background-color: white;
      }
      
.nombre1:invalid + .input::after {
        
        width: 180px;
        height: 31px;
        position: absolute;
        
        color:red;
        content: "Minimo tres caracteres";
      }

      .nombre1:invalid + .input1::after {
        
        width: 180px;
        height: 31px;
        position: absolute;
        
        color:red;
        content: "Minimo diez caracteres";
      }

      .nombre1:invalid + .input-date::after {
        
        width: 180px;
        height: 31px;
        position: absolute;
        
        color:red;
        content: "Minimo 01/01/2003";
      }


      .interes{
          
          display:inline-block;
          flex-direction: column;
          justify-content: center;
          
          width: 20%;
          text-align: left;
      }